body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html{
    background-color: #E4E5EB;
}
.Logo{
    display: flex;
    justify-content: center;
    background-color: #23274C;
    padding: 5px;
}
.nv{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
.nav-item > a{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #FFFF;
    text-align: center;
    font-size: 20px;
    margin-right: 5vh;

}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    background-color: #E4E5EB;
}
.I3{
    margin-top: 10vh;
    height: 45vh;
    width: 70vw;
    margin-bottom: 5vw;
}
.b1{
    background-color: #E4E5EB;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.cont>p{
    margin-top: 5vh;
    font-family: "Dosis", sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color: #23274C;
    margin-bottom: 5vh;
}
.btnPub{
    border: none;
    border-radius: 10px;
    background-color: #104E06;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFF;
    height: 30px;
    width:100px;
}
.btnPub:hover{
    background-color: #0a3504;
}
.btnEra{
    border: none;
    border-radius: 10px;
    background-color: #FD0B0B;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFF;
    height: 30px;
    width:100px;
}
.btnEra:hover{
    background-color: #8b0505;
}
.contenedord{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #E4E5EB;
}
.contenedord table{
    width: 70vw;
    margin-bottom: 10vh;
    flex-shrink: 1;
}
thead{
    background-color: #abaaaa;
    text-align: center;
    color: black;
}
th > a{
    color: black;
}
tbody{
    background-color: #F5F5F5;
    text-align: center;
}
.footer{
    clear: both;
    display: flex;
    background-color: #7D7097;
    justify-content: space-evenly;
    padding: 10px;
}
.footer svg{
    width: 45px;
    height: 43px;
}
@media (max-width: 1024px) {
    .nav-item > a{
        margin: 0%;
    }
   .I3{
    margin-top: 5vh;
    height: 18vh;
    width: 85vw;
   }
    .logoTarjeta{
        height: 20px;
    }
    .cont>p{
        font-size: 1em;
    }
    .b1{
        align-items: center;
    }
  }
 