:root{
    --fuenteH: "Dosis", sans-serif;
    --fuenteP: "Dosis", sans-serif;
    --moradoOscuro: #23274C;
    --moradoClaro: #7D7097;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
    --gris_fuente :#5B5B5B;

}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Dosis", sans-serif;
    background-color: #E4E5EB;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--gris_fuente);
    min-height: 100vh
}
main{
    min-height: 85vh;
}
/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/
.Logo{
    display: flex;
    justify-content: center;
    background-color: #23274C;
    padding: 5px;
}
.nv{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
.nav-item > a{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #FFFF;
    text-align: center;
    font-size: 20px;
    margin-right: 5vh;

}
@media (max-width: 1024px) {
    .nav-item > a{
        margin: 0%;
    }
}
.selected {
    font-weight: 800;
    color: #000;
}
.colap{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 5rem;
    height: 3rem;
    align-items: center center;
}
.boton-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    font-size: 5rem;
    text-align: center;
}
.titulo{
    margin-bottom: 4rem;
    font-weight: 700;
}
.rojo{
    color: red;
}
.indicaciones{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.footer{
    clear: both;
    display: flex;
    background-color: #7D7097;
    justify-content: space-evenly;
    padding: 10px;
    color: #fff;
}

.footer svg{
    width: 45px;
    height: 43px;
}
@media (max-width: 500px) {
    .indicaciones{
        font-size: 2.2rem;
    }
}

.categoria{
    margin-top: 3rem;
    font-weight: 800;
    font-size: 2.5rem;
    padding-left: 0rem;
    margin-bottom: 2rem;
}
.progress__text{
    font-size:2.1rem;
    font-weight: 600;
}
.formulario {
    background-color: var(--blanco);
    margin: 5rem auto 5rem auto;
    border-radius: 3rem;
    width: 90%;
    text-align: center;
    padding: 6rem 1rem;
}

.progress {
    width: 70%; /* Ancho de la barra de progreso */
    margin: 1rem auto; /* Centrar la barra de progreso */
    background-color: #ddd; /* Color de fondo de la barra de progreso */
    border-radius: 5px; /* Borde redondeado */
    overflow: hidden; /* Ocultar el contenido que se desborde */
    height:3rem;
    padding: 0;
}
.progress-bar {
     /* Altura de la barra de progreso */
    background-color: var(--moradoClaro); /* Color de la barra de progreso */
    text-align: center; /* Alineación del texto */
    vertical-align: middle;
    color: #fff; /* Color del texto */
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.form-control{
    border-radius: 1.5rem;
    border: 1px solid #7D7097;
    font-size: 1.5rem;  
    appearance: auto;
}

.text{
    height: 4rem;
}
.conducta{
    margin-bottom: 0rem;
}
.form-label{
  overflow: hidden; /* Oculta cualquier contenido que desborde del ancho especificado */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el contenido no cabe dentro del ancho especificado */
  width: 40rem; /* Ancho máximo del label */
  font-size: 2rem;
}
@media (min-width: 769px) {
    .progress__text{
        font-size: 2.4rem;
    }
    .form-label{
        font-size: 2.4rem;
    }
    .form-control{
        font-size: 2rem;
    }
    .text{
        height: 4.2rem;
    }
}
@media (max-width: 821px) {
    .form-label{
        width: auto;
    }
}
.entrada{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 821px) {
    .entrada {
        display: inline-block; /* Cambia el display de flex a block */
    }
    .entrada a{
        margin-left: 20px;
    }
}
.contenedor-conductas{
    display: inline-flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .contenedor-conductas{
        display: block;
    }
}


.boton {
    display: inline-block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

.boton:hover {
    cursor: pointer;
    color: #5B5B5B;
}
.boton--primario {
    background-color: var(--moradoClaro);
}
.boton--secundario {
    background-color: var(--moradoOscuro);
}
@media (min-width: 769px) {
    .boton{
        font-size: 1.8rem;
    }
}
.footer {
    
    background-color: var(--moradoClaro);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-top: 4rem;
}
.iconos{
        width: 100%;
        display: flex;
        justify-content: space-between; /* Distribuye los elementos de manera equitativa */
}
.icono-redes {
    text-align: center; /* Centra el contenido horizontalmente */
    display:inline-flex;
    justify-content: center; /* Centra el contenido vertical y horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 5rem; /* Ajusta el ancho según tus necesidades */
    height: 5rem; /* Ajusta la altura según tus necesidades */
    border-radius: 50%; /* Crea la forma de círculo */
    background-color: var(--moradoOscuro); /* Cambia el color de fondo si es necesario */
}
.icono-redes a {
    display: inline-block; /* Permite que el enlace se ajuste al tamaño del contenedor */
    width: 3rem; /* Ajusta el ancho según tus necesidades */
    height: 3rem; /* Ajusta la altura según tus necesidades */
}
.btn-add{
    border: none; /* Elimina el borde del botón */
            background: none; /* Elimina el fondo del botón */
            padding: 0; /* Elimina el relleno interno del botón */
            font-size: inherit; /* Utiliza el tamaño de fuente del elemento padre */
            text-decoration: underline; /* Subraya el texto */
            cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
            color: #828282; /* Color del texto */
            font-weight: 600;
}
.btn-add:hover{
    color: var(--gris_fuente);
    cursor: pointer;
}

.select-conductas-i{
    display: flex;
    margin-bottom: 2rem;
    
}
.form-6{
    width: auto;
}

.msj-gracias{
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 6rem;
}


.folio{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 6rem;
}
.info-consulta{
    font-size: 4rem;
    margin-bottom: 3rem;
}

/* Recursos */

.icono-recursos {
    display: block;
    text-align: center; /* Opcional: alinea el texto en el centro */
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    color: var(--gris_fuente);
    font-weight: 700;
}
.icono-recursos img {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
@media (min-width: 769px) {
    .recursos-row{
        margin-top: 10rem;
        margin-bottom: 15rem;
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width: 768px) {
    .div-icono-recursos{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
}
.creditos{
    font-weight: 700;
    font-size: 3.5rem;
}
.persona{
    background-color:#ccbfd8;
    border-radius: 2rem;
    color: var(--blanco);
}
@media (min-width: 769px) {
    .recursos-row{
        margin-top: 10rem;
        margin-bottom: 15rem;
    }
    .persona{
        margin: 0rem 2rem;
    }
}
.persona-creditos{
    color: var(--negro);
    font-weight:550;
    text-align: center;
    font-size: 3.5rem;
}
.descripcion-persona{
    text-align: center;
    font-size: 2rem;
}
@media (max-width: 768px) {
    .persona-creditos{
        font-size: 3rem;
    }
    .recursos-row{
        padding: 0rem 1.5rem;
    }
}

/* Registro */

.contenedor-registro{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (min-width: 769px) {
    .contenedor-registro{
        display: flex;
    }
    .aviso-priv{
        padding-left: 10rem;
    }
    
}

/* Detalles denunciaß */

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    height: 80vh;
}
.c-denuncia{
    background-color: var(--blanco);
    border-radius: 2rem;
    margin-top: 3rem;
    height: auto;
    padding-bottom: 3rem
}
.denuncia{
    margin-top: 2rem;
    text-align: center;
    padding: 2rem;
}
@media (min-width: 769px){
    .tres-columnas{
        display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1rem;
            margin-bottom: 8rem;
            margin-top: 6rem;
            padding-left: 7rem;
    }
}
@media (min-width: 769px){
    .tres-columnas2{
        display: grid;
            grid-template-columns: 30% 35% 35%;
            padding-left: 7rem;
            padding-right: 7rem;
    column-gap: 1rem;
    }
}
@media (max-width: 768px){
   .dato{
    margin-bottom: 4rem;
   }
}

.dos-columnas{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        padding: 0rem 0.5rem;
}


.datos{
    font-weight: 600;
    font-size: 2.2rem;
}
.datos_base{
    font-size: 1.8rem;
}
.btn-reporte
{
    padding: 0rem 4rem;
}
.registro{
    padding: 0rem 4rem;
}

.boton-tabla {
    display: inline-block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0rem;
    border: none;
    border-radius: 1rem;
}

th:nth-child(1), td:nth-child(1) {
    width: 15%;
}
th:nth-child(2), td:nth-child(2) {
    width: 30%;
}
th:nth-child(3), td:nth-child(3) {
    width: 30%;
}
th:nth-child(4), td:nth-child(4) {
    width: 25%;
}
th,td{
    align-items: center;
}
.opciones-select-conductas{
    width: 90%;
    margin: 0 auto;
}
.option-conducta{
    font-size: 1.8rem;
    align-items: center;
}
@media(min-width: 769px){

    .option-conducta{
        font-size: 1.9rem;
}
}


@media(max-width: 768px){

    .contenedor-conducta{
        margin-bottom: 3rem;
    }
}
.boton--eliminar{
    background-color: red;
}

.table-responsive {
    overflow-x: auto;
}