body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html{
    background-color: #E4E5EB;
}
.Logo{
    display: flex;
    justify-content: center;
    background-color: #23274C;
    padding: 5px;
}
.nv{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
.nav-item > a{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #FFFF;
    text-align: center;
    font-size: 20px;
    margin-right: 5vh;

}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 2vh;
    background-color: #E4E5EB;
}
.tarjetaPrin{
    margin-top: 50px;
    display: flex;
    background-color: #FFFF;
    border-radius: 12px;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 5vh;
}
.Titulo h1{
    font-family: "Dosis", sans-serif;
    color: #5B5B5B;
    font-weight: bolder;;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.inpSesion{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#inp{
    display: flex;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 30px;
    border: #23274C solid 1px;
    border-radius: 20px;
    height: 50px;
    width: 340px;
}
.b1{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 5vh;
}

.cont>p{
    margin-top: 5vh;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-weight: bolder;
    font-size: 1.7em;
    text-align: center;
    color: #5B5B5B;
    margin-bottom: 5vh;
    width: 50vw;
}
.btnGen{
    border: none;
    border-radius: 12px;
    background-color: #7D7097;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FFFF;
    height: 50px;
    width: 250px;
    margin-bottom: 20px;
}
.btnGen:hover{
    background-color: #353753;
}

.footer{
    clear: both;
    display: flex;
    background-color: #7D7097;
    justify-content: space-evenly;
    padding: 10px;
}
.footer svg{
    width: 45px;
    height: 43px;
}
@media (max-width: 1024px) {
    .nav-item > a{
        margin: 0%;
    }
   
    .logoTarjeta{
        height: 20px;
    }
    .btnGen{
        width: 230px;
        height: 40px;
    }
    .cont>p{
        font-size: 1em;
    }
    .b1{
        align-items: center;
    }
  }
 